In [ ]:
a=int(input("enter 1st number:="))
b=int(input("enter 2st number:="))
operator=input()
match(operator):
  case('+'):
    print("a+b=",a+b)
  case('*'):
    print("a+b=",a*b)
  case('-'):
    print("a+b=",a-b)
  case('/'):
    print("a+b=",a/b)
  case _:
    print("invalid input")

enter 1st number:=3
enter 2st number:=4
*
a+b= 12

In [ ]:
#compound interest
p=int(input("Enter the principal amount::"))
year=int(input("Enter the number of year::"))
print("considering 12%")
a=p*(1+12/2)
print(a)

Enter the principal amount::4000
Enter the number of year::4
28000.0

In [ ]:
import sys
num=int(input("Enter the numner:: "))
bol=True
if(num == 1 ):
  print("1 is neither prime nor composite")
  sys.exit()
for i in range(2,num):
  if(num % i == 0):
    print("it is not a prime")
    bol=False
    break
if(bol):
  print("It is a prime")

Enter the numner:: 1
1 is neither prime nor composite

SystemExit:

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
l=[1,2,3,4,5]
l[l.index(2)]=99
print(l)

[1, 99, 3, 4, 5]

In [ ]:
a=int(input("Enter the  number::"))

while(True):
  b=int(input("Enter number:: "))
  operator = input("Enter the operator ")
  if(operator == '+'):
    a=a+b
  elif operator == '-':
    a=a-b
  elif operator == '*':
    a=a*b
  elif operator == '-':
    a=a-b
  elif operator == '/':
    a=a/b
  choice=input("do you want to contiue(y/n)::")
  if choice == ['n','N']:
    break
print(a)

Enter the  number::5

day 5th

In [8]:
#1. Write a Python function to find the kth smallest element in a list.
user = input("Enther the your values comma seperated") #[45,77,12,45,99,23]
l=user.split(",")
li=[]
for i in l:
  li.append(int(i))

kth = int(input("Enter the Kth element :: "))
for i in range(kth):
    p=li.index(min(li))
    k=li.pop(p)
print(k)

Enther the your values comma seperated45,77,12,45,99,23
Enter the Kth element :: 3
45

In [11]:
#Write a Python function to check if a list is a palindrome or not. Return true otherwise false.
user = input("Enther the your values (comma seperated):: ") #[45,77,12,45,99,23]
l=user.split(",")
print(user == user[::-1])

Enther the your values comma seperated22,11,22
True

In [17]:
#Write a Python function to reverse a list at a specific location.
user = input("Enther the your values (comma seperated):: ") #[45,77,12,456,99,23]
l=user.split(",")
print(l)
result=[]
cut=int(input("Enter the break point to reverse the list"))
cl=l[:cut]
cl2=l[cut:]
result.append(cl2)
result.append(cl)
print(result)

Enther the your values (comma seperated):: 45,77,12,456,99,23
['45', '77', '12', '456', '99', '23']
Enter the break point to reverse the list3
[['456', '99', '23'], ['45', '77', '12']]

In [24]:
#Write a Python program to find all the pairs in a list whose sum is equal to a given value.
l=[[3, 2], [2, 4], [4, 3], [3, 3], [3, 1], [2, 1]]
user = int(input("Enter the sum::: "))
foundnot=True
for i in l:
  if(user == sum(i)):
    print("The sum is :: ",i)
    found=False
if(found):
    print("Pair does not  Exsist")

Enter the sum::: 3
The sum is ::  [2, 1]